table {
  border-collapse: collapse;
  border-spacing: 5;
}

th {
  background-color:  #85a2ff;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

td, th {
  border: 5px solid rgb(0, 153, 255);
  padding: 10px;
}

tr:hover {
  background-color: #85a2ff;
}
body{
    background-color: rgba(0, 132, 255, 0.253);
}